@import 'tailwindcss';

:root{
  --primary: #000000;
  --secondary:#FFFFFF;
  --dark: #495057;
  --light:#E2DFD0;
}

@theme{
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*utilities*/
.link-nav {
  @apply font-medium transition-all duration-200 text-light hover:text-dark text-lg py-5 md:my-0;
}

.container-1{
  @apply mx-auto px-4 max-w-300 md:px-50;
}

.card{
  @apply  p-6 bg-secondary rounded-lg shadow-md text-center;
}

.product-container{
   @apply px-4 max-w-400 mx-auto md:px-20;
}

.product-card{
  @apply px-5 pb-6 bg-dark rounded-lg shadow-md text-center flex flex-col transition-transform duration-300 justify-between;  
}

.product-card:nth-child(even) {
  @apply translate-y-6 lg:translate-y-0;
}

.product-img img {
  @apply max-h-full max-w-full object-contain h-48 flex items-center justify-center mb-4 transition-transform duration-300;
}

.product-card:hover img {
  @apply scale-105;
}

.hero-grid {
  @apply py-16 grid grid-cols-1 lg:grid-cols-2 gap-8 items-center mx-auto;
} 

.about-container{
  @apply mx-auto max-w-7xl px-6 lg:px-8;
}

.about-grid{
@apply py-24 grid grid-cols-1 lg:grid-cols-[1.2fr_0.8fr] gap-16 items-center;
}

.grid-story{
  @apply grid grid-cols-1 gap-5 justify-center items-center h-full md:grid-cols-2 lg:grid-cols-3;
}